@charset "UTF-8";
/* CSS Document */
/* Computer availabilty map 12.2.2013 MU*/
/* addditions- font family, #main, bumped up font size on summary table 10-15px float changed right to left*/
/* Jonathan C: Optimized CSS, added selectors for added editor component, removed deprecated selectors */

#main { font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif; }

#content {
    border-bottom: 30px solid #F6F5F4;
}
#map_container_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: #FFFFFF none repeat scroll 0 0;
    background-size: auto auto;
    color: #686868;
    padding: 5px;
    position: relative;
}
#map_container_600 {
    float: left;
    width: 610px;
}
#map_container_600 h3 {
    color: #686868;
    font-size: 14px;
}
#computer_map_first_600, #computer_map_lower_600, #computer_map_second_600, #computer_map_third_600, #computer_map_fourth_600 {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 600px;
}
#computer_map_first_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/first_600.png") no-repeat scroll 0 0;
    background-size: auto auto;
    height: 600px;
}
#computer_map_lower_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/lower_600.png") no-repeat scroll 0 0;
    background-size: auto auto;
    height: 600px;
}
#computer_map_second_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/second_600.png") no-repeat scroll 0 0;
    background-size: auto auto;
    height: 662px;
}
#computer_map_third_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/third_600.png") no-repeat scroll 0 0;
    background-size: auto auto;
    height: 600px;
}
#computer_map_fourth_600 {
    /*Fourth Floor Not in use!*/
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("") no-repeat scroll 0 0;
    background-size: auto auto;
}
dt.busy_pc_600, dt.avail_pc_600, dt.offline_600, dt.pilot_600, dt.microfilm_600, dt.busy_mac_600, dt.avail_mac_600, dt.avail_pc_public_600, dt.avail_mac_public_600 {
    height: 15px;
    width: 15px;
}
dt.busy_pc_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/pc-unavailable-20px.png") no-repeat scroll 0 0;
    background-size: 15px 15px;
}
dt.avail_pc_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/pc-available-20px.png") no-repeat scroll 0 0;
    background-size: 15px 15px;
}
dt.avail_pc_public_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/pc-available-public-20px.png") no-repeat scroll 0 0;
    background-size: 15px 15px;
}
dt.busy_mac_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/mac-unavailable-20px.png") no-repeat scroll 0 0;
    background-size: 15px 15px;
}
dt.avail_mac_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/mac-available-20px.png") no-repeat scroll 0 0;
    background-size: 15px 15px;
}
dt.offline_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/maintenance-icon-20px.png") no-repeat scroll 0 0;
    background-size: 15px 15px;
}
dt.pilot_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/pc-vm-20px.png") no-repeat scroll 0 0;
    background-size: 15px 15px;
}
dt.microfilm_600 {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgba(0, 0, 0, 0) url("images/microfilm_20px.png") no-repeat scroll 0 0;
    background-size: 15px 15px;
}
dt.mapicon {
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    display: block;
    outline: -moz-use-text-color none medium;
    position: absolute;
    text-indent: -9999px;
    z-index: 10;
}
#legend {
    display: inline;
}

#legend > table{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-clip: border-box;
    background-origin: padding-box;
    background: #FFFFFF none repeat scroll 0 0;
    background-size: auto auto;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    color: #686868;
    margin-right: 180px;
    margin-top: 1em;
    width: 130px;
}
#legend > table td {
    font-size: 10px;
    padding: 2px;
}
#summary {
    margin-bottom: 15px;
}
#summary table {
    border-collapse: collapse;
}
#summary td {
    background-color: #F1F0F0;
    border-bottom: 1px solid #AAAAAA;
    font-size: 15px;
    padding: 5px 35px 5px 10px;
}
#summary th {
    background-color: #D6D6D6;
    color: #686868;
    font-size: 11px;
    font-weight: 900;
    padding: 5px 35px 5px 10px;
}
#summary caption {
    color: #686868;
    font-size: 14px;
    font-weight: 900;
    padding: 5px;
    text-align: left;
}

/*CSS JONATHAN C ADDED FOR SELECTION BOXES AND EDITOR PANEL*/

.selected{
    box-shadow: 0 0 1px 1px red;
}

#editor {
    margin-bottom: 15px;
}
#editor table {
    border-collapse: collapse;
}
#editor td {
    background-color: #F1F0F0;
    border-bottom: 1px solid #AAAAAA;
    font-size: 15px;
    padding: 5px 10px;
}
#editor th {
    background-color: #D6D6D6;
    color: #686868;
    font-size: 11px;
    font-weight: 900;
    padding: 5px 10px;
}
#editor caption {
    color: #686868;
    font-size: 14px;
    font-weight: 900;
    padding: 5px;
    text-align: left;
}

#editor td > input{
    width: 120px;
}

.editorDropdown{
    width: 120px;
}

.ui-autocomplete{
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#addForm {
    margin-bottom: 15px;
}
#addForm table {
    border-collapse: collapse;
}
#addForm td {
    background-color: #F1F0F0;
    border-bottom: 1px solid #AAAAAA;
    font-size: 15px;
    padding: 5px 10px;
}
#addForm th {
    background-color: #D6D6D6;
    color: #686868;
    font-size: 11px;
    font-weight: 900;
    padding: 5px 10px;
}
#addForm caption {
    color: #686868;
    font-size: 14px;
    font-weight: 900;
    padding: 5px;
    text-align: left;
}

#addForm td > input{
    width: 120px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ui-dialog > .ui-widget-header {
    background: rgba(0, 133, 255, 0.27);
}

.ui-dialog.ui-widget-content {
    border: 2px solid black !important;
}